.product {
  width: 16rem;
}

.cart-container {
  position: relative;
}

.items-count {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 65%;
}

.cart-product {
  width: 500px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.cart-product:last-of-type {
  border-bottom-color: black;
}

.description {
  width: 150px;
}

.qty-btn {
  border-color: black;
  margin: 0 5px;
  padding: 0 10px;
}

.navbar-brand {
  cursor: pointer;
}

.search-box {
  width: 95%;
}
